* {
    outline: none;
    -gtk-icon-effect: outline;
    font-family: "Lexend"; 
    -gtk-scroll-duration: 120ms;
    -gtk-scroll-interval: 8ms;
    -gtk-scroll-easing: "cubic";
    -gtk-scroll-padding-top: 30px;
    -gtk-scroll-padding-bottom: 230px;
    -gtk-icon-mode: "nerd";
    -gtk-search-engine: "google"; /* google, startpage, duckduckgo, bing, ecosia, qwant */
}
 .effect-shadow {
           filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
}
   
.header-bg {
    margin: 0px 0px 40px 0px;
}

entry {
    border-radius: 20px;
    border: none;
    padding: 10px 15px 10px 20px;
    margin: 20px 20px 0px 20px;
    font-size: 24px; 
}

scrollbar, scrollbar button, scrollbar slider, scrollbar trough {
    display: none;
    opacity: 0;
    min-width: 0;
    min-height: 0;
    width: 0;
    height: 0;
}

.scrolled-window, scrolledwindow {
    border: none;
    background: transparent;
}

.app-list-container { padding: 80px 10px 90px 10px; }
overshoot, undershoot { background: none; border: none; box-shadow: none; }

.app-pill {
    border-radius: 15px;
    padding: 5px 10px 5px 6px; 
    transition: all 0.15s ease;
    -gtk-icon-position: "adjacent";
}

.app-icon { font-size: 25px; margin-right: 15px; transition: all 0.15s ease; }
.app-name { font-size: 21px; font-weight: 500; text-align: center; transition: all 0.15s ease; }


.power-bar {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.power-btn {
    border: none;
    padding: 5px 8px 5px 0px;
    min-width: 45px;
    border-radius: 20px;
    font-size: 25px;
    transition: all 0.2s;
}
.app-icon, .power-btn, .mono-text, .edit-popup-entry.mono-text, .edit-popup-entry.mono-text text {
     font-family: "0xProto Nerd Font", "Symbols Nerd Font";
}

.shutdown-btn { -gtk-icon: ""; -gtk-command: "systemctl poweroff"; }
.reboot-btn   { -gtk-icon: ""; -gtk-command: "systemctl reboot"; }
.logout-btn   { -gtk-icon: ""; -gtk-command: "loginctl terminate-user $USER"; }

.edit-popup { border-radius: 20px; padding: 10px; box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.4); }
.edit-popup-label { font-size: 25px; font-weight: bold; margin-bottom: 2px; }
.edit-popup-entry, .edit-popup-entry text { font-size: 20px; padding: 5px 0px; }

.hk-clipboard      { -gtk-combo: "ctrl+y"; }
.hk-rename         { -gtk-combo: "ctrl+r"; }
.hk-icon           { -gtk-combo: "ctrl+e"; }
.hk-hide-app       { -gtk-combo: "ctrl+s"; }
.hk-toggle-hidden  { -gtk-combo: "ctrl+h"; }

.clipboard-item {
    font-size: 16px;
}